src/main/resources/schemas/mrd/mrd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ mrd: mrd.xsd
  ~ XNAT https://www.xnat.org
  ~ Copyright (c) 2022, Physikalisch-Technische Bundesanstalt
  ~ All Rights Reserved
  ~
  ~ Released under Apache 2.0
  -->

<xs:schema targetNamespace="http://ptb.de/mrd" xmlns:mrd="http://ptb.de/mrd"
		   xmlns:xnat="http://nrg.wustl.edu/xnat"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="mrdScanData" type="mrd:mrdScanData"/>

	<xs:complexType name="mrdScanData">
		<xs:annotation>
			<xs:documentation>Information about an individual MR raw data scan.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="xnat:imageScanData">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="version" type="xs:long" />
					<xs:element maxOccurs="1" minOccurs="0" name="subjectInformation">
						<xs:complexType>
							<xs:all>
								<xs:element minOccurs="0" name="patientName" type="xs:string" />
								<xs:element minOccurs="0" name="patientWeight_kg" type="xs:float" />
								<xs:element minOccurs="0" name="patientHeight_m" type="xs:float" />
								<xs:element minOccurs="0" name="patientID" type="xs:string" />
								<xs:element minOccurs="0" name="patientBirthdate" type="xs:date" />
							</xs:all>
						</xs:complexType>
					</xs:element>

					<xs:element maxOccurs="1" minOccurs="0" name="studyInformation">
						<xs:complexType>
							<xs:all>
								<xs:element minOccurs="0" maxOccurs="1" name="studyDate" type="xs:date" />
								<xs:element minOccurs="0" maxOccurs="1" name="studyTime" type="xs:time" />
								<xs:element minOccurs="0" maxOccurs="1" name="studyID" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="accessionNumber" type="xs:long" />
								<xs:element minOccurs="0" maxOccurs="1" name="referringPhysicianName" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="studyDescription" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="studyInstanceUID" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="bodyPartExamined" type="xs:string" />
							</xs:all>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="measurementInformation">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" name="measurementID" type="xs:string" />
								<xs:element minOccurs="0" name="seriesDate" type="xs:date" />
								<xs:element minOccurs="0" name="seriesTime" type="xs:time" />
								<xs:element minOccurs="0" name="patientPosition" type="patientPositionType" />
								<xs:element minOccurs="0" name="relativeTablePosition">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="1" minOccurs="0" name="x" type="xs:float" />
											<xs:element maxOccurs="1" minOccurs="0" name="y" type="xs:float" />
											<xs:element maxOccurs="1" minOccurs="0" name="z" type="xs:float" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element minOccurs="0" name="initialSeriesNumber" type="xs:long" />
								<xs:element minOccurs="0" name="protocolName" type="xs:string" />
								<xs:element minOccurs="0" name="sequenceName" type="xs:string" />
								<xs:element minOccurs="0" name="seriesDescription" type="xs:string" />
								<xs:element maxOccurs="1" minOccurs="0" name="measurementDependency">
									<xs:complexType>
										<xs:sequence>
											<xs:element maxOccurs="1" minOccurs="0" name="dependencyType" type="xs:string" />
											<xs:element maxOccurs="1" minOccurs="0" name="measurementID" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element minOccurs="0" name="seriesInstanceUIDRoot" type="xs:string" />
								<xs:element minOccurs="0" name="frameOfReferenceUID" type="xs:string" />
								<xs:element minOccurs="0" name="referencedImageSequence">
									<xs:complexType>
										<xs:sequence>
											<xs:element minOccurs="0" maxOccurs="1" name="referencedSOPInstanceUID" type="xs:string" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="acquisitionSystemInformation">
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" maxOccurs="1" name="systemVendor" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="systemModel" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="systemFieldStrength_T" type="xs:float" />
								<xs:element minOccurs="0" maxOccurs="1" name="relativeReceiverNoiseBandwidth" type="xs:float" />
								<xs:element minOccurs="0" maxOccurs="1" name="receiverChannels" type="xs:unsignedShort" />
								<xs:element minOccurs="0" maxOccurs="1" name="coilLabelList" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="institutionName" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="stationName" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="deviceID" type="xs:string" />
								<xs:element minOccurs="0" maxOccurs="1" name="deviceSerialNumber" type="xs:string" />
							</xs:sequence>
						</xs:complexType>
				    </xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="experimentalConditions">
						<xs:complexType>
							<xs:all>
								<xs:element name="H1resonanceFrequency_Hz" type="xs:long" />
							</xs:all>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="encoding">
						<xs:complexType>
							<xs:all>
								<xs:element maxOccurs="1" minOccurs="0" name="encodedSpace">
									<xs:complexType>
										<xs:all>
											<xs:element maxOccurs="1" minOccurs="0" name="matrixSize">
												<xs:complexType>
													<xs:sequence>
														<xs:element default="1" maxOccurs="1" minOccurs="0" name="x" type="xs:unsignedShort" />
														<xs:element default="1" maxOccurs="1" minOccurs="0" name="y" type="xs:unsignedShort" />
														<xs:element default="1" maxOccurs="1" minOccurs="0" name="z" type="xs:unsignedShort" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="fieldOfView_mm">
												<xs:complexType>
													<xs:sequence>
														<xs:element maxOccurs="1" minOccurs="0" name="x" type="xs:float" />
														<xs:element maxOccurs="1" minOccurs="0" name="y" type="xs:float" />
														<xs:element maxOccurs="1" minOccurs="0" name="z" type="xs:float" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:all>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="reconSpace">
									<xs:complexType>
										<xs:all>
											<xs:element maxOccurs="1" minOccurs="0" name="matrixSize">
												<xs:complexType>
													<xs:sequence>
														<xs:element default="1" maxOccurs="1" minOccurs="0" name="x" type="xs:unsignedShort" />
														<xs:element default="1" maxOccurs="1" minOccurs="0" name="y" type="xs:unsignedShort" />
														<xs:element default="1" maxOccurs="1" minOccurs="0" name="z" type="xs:unsignedShort" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="fieldOfView_mm">
												<xs:complexType>
													<xs:sequence>
														<xs:element maxOccurs="1" minOccurs="0" name="x" type="xs:float" />
														<xs:element maxOccurs="1" minOccurs="0" name="y" type="xs:float" />
														<xs:element maxOccurs="1" minOccurs="0" name="z" type="xs:float" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:all>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="encodingLimits">
									<xs:complexType>
										<xs:all>
											<xs:element maxOccurs="1" minOccurs="0" name="kspace_encoding_step_0">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="kspace_encoding_step_1">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="kspace_encoding_step_2">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="average">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="slice">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="contrast">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="phase">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="repetition">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="set">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="segment">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_0">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_1">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_2">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_3">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_4">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_5">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_6">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" name="user_7">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="minimum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="maximum" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="center" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
										</xs:all>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="trajectory" type="trajectoryType" />
								<xs:element maxOccurs="1" minOccurs="0" name="parallelImaging">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="accelerationFactor">
												<xs:complexType>
													<xs:all>
														<xs:element minOccurs="0" name="kspace_enc_step_1" type="xs:unsignedShort" />
														<xs:element minOccurs="0" name="kspace_enc_step_2" type="xs:unsignedShort" />
													</xs:all>
												</xs:complexType>
											</xs:element>
											<xs:element maxOccurs="1" minOccurs="0" type="calibrationModeType" name="calibrationMode" />
											<xs:element maxOccurs="1" minOccurs="0" type="interleavingDimensionType" name="interleavingDimension" />
											<xs:element maxOccurs="1" minOccurs="0" name="multiband" >
												<xs:complexType>
													<xs:sequence>
														<xs:element name="deltaKz" minOccurs="0" maxOccurs="1" type="xs:float" />
														<xs:element name="multiband_factor" minOccurs="0" maxOccurs="1" type="xs:unsignedInt" />
														<xs:element name="calibration" minOccurs="0" maxOccurs="1">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:enumeration value="separable2D" />
																	<xs:enumeration value="full3D" />
																	<xs:enumeration value="other" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="calibration_encoding" minOccurs="0" maxOccurs="1" type="xs:unsignedLong" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element maxOccurs="1" minOccurs="0" name="echoTrainLength" type="xs:long" />
								<xs:element maxOccurs="1" minOccurs="0" name="multiband" >
									<xs:complexType>
										<xs:sequence>
											<xs:element name="deltaKz" minOccurs="0" maxOccurs="1" type="xs:float" />
											<xs:element name="multiband_factor" minOccurs="0" maxOccurs="1" type="xs:unsignedInt" />
											<xs:element name="calibration" minOccurs="0" maxOccurs="1">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value="separable2D" />
														<xs:enumeration value="full3D" />
														<xs:enumeration value="other" />
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="calibration_encoding" minOccurs="0" maxOccurs="1" type="xs:unsignedLong" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:all>
						</xs:complexType>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="sequenceParameters" >
						<xs:complexType>
							<xs:sequence>
								<xs:element minOccurs="0" maxOccurs="1" type="xs:float" name="TR" />
								<xs:element minOccurs="0" maxOccurs="1" type="xs:float" name="TE" />
								<xs:element minOccurs="0" maxOccurs="1" type="xs:float" name="TI" />
								<xs:element minOccurs="0" maxOccurs="1" type="xs:float" name="flipAngle_deg" />
								<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="sequence_type" />
								<xs:element minOccurs="0" maxOccurs="1" type="xs:float" name="echo_spacing" />
								<xs:element minOccurs="0" maxOccurs="1" type="diffusionDimensionType" name="diffusionDimension" />
								<xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="diffusionScheme" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element minOccurs="0" name="waveformInformationList" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="patientPositionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HFP" />
			<xs:enumeration value="HFS" />
			<xs:enumeration value="HFDR" />
			<xs:enumeration value="HFDL" />
			<xs:enumeration value="FFP" />
			<xs:enumeration value="FFS" />
			<xs:enumeration value="FFDR" />
			<xs:enumeration value="FFDL" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="trajectoryType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cartesian" />
			<xs:enumeration value="epi" />
			<xs:enumeration value="radial" />
			<xs:enumeration value="goldenangle" />
			<xs:enumeration value="spiral" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="diffusionDimensionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="average" />
			<xs:enumeration value="contrast" />
			<xs:enumeration value="phase" />
			<xs:enumeration value="repetition" />
			<xs:enumeration value="set" />
			<xs:enumeration value="segment" />
			<xs:enumeration value="user_0" />
			<xs:enumeration value="user_1" />
			<xs:enumeration value="user_2" />
			<xs:enumeration value="user_3" />
			<xs:enumeration value="user_4" />
			<xs:enumeration value="user_5" />
			<xs:enumeration value="user_6" />
			<xs:enumeration value="user_7" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="calibrationModeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="embedded" />
			<xs:enumeration value="interleaved" />
			<xs:enumeration value="separate" />
			<xs:enumeration value="external" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="interleavingDimensionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="phase" />
			<xs:enumeration value="repetition" />
			<xs:enumeration value="contrast" />
			<xs:enumeration value="average" />
			<xs:enumeration value="other" />
		</xs:restriction>
	</xs:simpleType>

    </xs:schema>